$white-color: #fff;
$blue-color: #95e1d3;
$pink-color: #f38181;
$yellow-color:  #fce38a;
$dark-color: #333;
$grey-color: #999;
$placeholder-color: #ccc;
$footer-color: #e5e5e5;
$montserrat-fonts: 'Montserrat';
$kaushan-fonts: 'Kaushan Script', cursive;
$roboto-fonts: 'Roboto Slab';
