html {
    box-sizing: border-box;
    }
    
    *,
    *::before,
    *::after {
    box-sizing: inherit;
    }
::selection {
    background-color: #000;
    color: #fff;   
}
.container{
    width: 1160px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    box-sizing: border-box;
}
.logo{
    display: block;
    text-decoration: none;
    color: #fed136;
    text-transform: uppercase;
    font-family: 'Comic Neue', cursive;
}
.nav__list{
    display: flex;
    justify-content: space-between;
    width: 480px;
}
.link{
    display: block;
    text-decoration: none;
    color: #222222;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 200ms linear;
}
.link:hover{
    color: #fed136;
}
.header{
    padding-top: 40px;
    padding-bottom: 90px;
}
.section{
    padding-top: 95px;
    padding-bottom: 85px;
    width: 1160px;
    max-width: 100%;
    box-sizing: border-box;
    margin: auto;
}
.title{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Roboto Slab';
    font-weight: 600;
    margin-bottom: 15px;
}
.title__text{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #777777;
}
.product__list{
    display: flex;
    justify-content: center;

}
.product__item{
    text-align: center;
    width: 275px;
    margin-right: 55px;
    margin-top: 60px;
}
.product__item:last-child{
    margin-right: 0;
}
.product__item::before{
    display: inline-block;
    content: '';
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 40px;
    border: 2px solid #fed136;
}
.first::before{
    background-image: url('../css/img/1.png');
    background-repeat: no-repeat;
    background-position: center;
}
.second::before{
    background-image: url('../css/img/2.png');
    background-repeat: no-repeat;
    background-position: center;
}
.third::before{
    background-image: url('../css/img/3.png');
    background-repeat: no-repeat;
    background-position: center;
}
.product__name{
    font-size: 18px;
    color: #222222;
    margin-top: 28px;
    font-family: 'Montserrat';
    font-weight: 700;
}
.product__text{
    color: #777777;
    font-size: 14px;
    margin-top: 18px;
}
.section2{
    padding-top: 85px;
    padding-bottom: 40px;
}
.bckgrnd__section{
    background-color: #222222;
    background-image: url('../css/img/Map-Image.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}
.container1{
    width: 960px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
}
.title2{
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Roboto Slab';
    font-weight: 600;
}
.title__text2{
    margin-top: 25px;
    color: #777777;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}
.div__input{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 200px;
    margin-top: 48px;
}
.input1, .textarea1{
    width: 48.5%;
    box-sizing: border-box;
    border: 1px solid #eee;
    border-radius: 4px;
    outline: 0;
    padding: 10px 16px;
}
.textarea1{
    height: 170px;
}
textarea{
    resize: none;
}
.submit{
    margin-top: 25px;
    padding: 20px 35px;
    border: 0;
    border-radius: 4px;
    background-color: #777777;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 200ms linear;
    font-family: 'Montserrat';
}
.submit:hover{
    background-color:#fed136;
}
[required]:not(:placeholder-shown):valid{
    box-shadow:0 0 0 2px green;
}
[required]:not(:placeholder-shown):invalid{
    box-shadow:0 0 0 2px red;
}
