*{
    padding: 0;
    margin: 0;
}
.header{
    padding-top: 77px;
    padding-bottom: 65px;
}
.header__nav-list{
    list-style: none;
    text-align: center;
    font-size: 0;
}
.header__nav-item{
    display: inline-block;
    font-size: 14px;
}
.header__nav-link{
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 40px;
}
.header__nav-link_active:hover {
    color: #03a9f4;
}
.blockposts {
    width: 100%;
    max-width: 960px;
    text-align: center;
    font-size: 14px;
    margin:auto;
    font-size: 0;
}
.blockpost {
    display: inline-block;
    width: 100%;
    max-width: 480px;
    margin-bottom: 74px;
    padding: 30px;
    box-sizing: border-box;
    color: #626262;
    font-size: 16px;
    text-align: left;
}
.blockposts:nth-of-type(1),.blockposts:nth-of-type(2){
    margin-bottom: 13px;
}

 img {
    width: 100%;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.blockpost__name{
    font-size: 14px;
    text-transform: uppercase;
    color:#b4ad9e;
    line-height: 1;
    margin-bottom: 30px;
    font-family: Ubuntu-Light;
}
.blockpost__heading{
    font-size:30 px;
    line-height: 1;
    margin-bottom: 40px;
}
.blockpost__text{
    line-height: 1.6;
    font-size: 14px;
}
.btn-wrap {
    text-align: center;
    padding: 10px 0 30px;
}

.btn {
    display: inline-block;
    padding: 22px 34px;
    border: 1px solid black;
    color: #626262;
    font-size: 20px;
    font-family: serif;
}
.btn:hover{
    color:black;
}
