@media (min-width: 960px) {
    header.container{
        max-width: 940px;
    }
    .header__inner{
        flex-direction: row;
        justify-content: space-around;

    }
    .logo{
        margin: 0;
    }
    .section2{
        min-height: 100vh;
        margin: auto;
    }
    .title__text{
        max-width: 477px;
    }
    .section__wrap{
        top: 50%;
    }
    .title__link{
        max-width: 281px;
        margin: auto;
        margin-top: 20px;
    }
    .container2{
        max-width: 895px;
        margin: auto;
    }
    .title2{
        min-width: 400px;
    }
    .team__for-meet{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
    }
    .person{
        width: 300px;
    }
    .link__person{
        max-width: 226px;
        margin: auto;
        margin-top: 20px;
    }
    .name{
        text-align: center;
        margin: auto;
    }
    .summary{
        margin: auto;
    }
    .avatar{
        margin: auto;

    }
  
}