html {
    box-sizing: border-box;
}
body{
    margin: 0;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
ul{
    list-style: none;
}
.color{
    background: linear-gradient(45deg, rgba(221, 224, 10, 0.5), rgba(221, 6, 24, 0.5));
}
.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1193px;
    margin: 0 auto;
    box-sizing: border-box;
}
.section0{
    background-image: url('../image/backgr.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media (min-resolution:192dpi) , (min-resolution: 2dppx){
    .section0{
        background-image: url('../image/backgr@2X.png');
    }
}
.header{
    padding-top: 30px;
    padding-bottom: 60px;
   
}
.header__logo{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    display: block;
}
.header__nav__list{
    display: flex;
}
.header__nav-item{
    margin-right: 55px;
}
.header__nav-item:last-child{
    margin-right: 0;
}
.header__nav-link{
    display: block;
    font-family: 'Montserrat', sans-serif;
    color: #fff ;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 200ms linear;
}
.header__nav-link::after{
    content: '';
    display: block;
    width: 48px;
    height: 4px;
    margin: 10px auto 0;
    background-color: #FCE38A;
    opacity: 0;
}
.header__nav-link:hover::after{
    opacity: 1;
}
.header__nav-link:hover{
    color: #FCE38A;
}
.header__svg:hover{
    fill: #FCE38A;
}
.section0__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: #fff;
    margin-bottom: 50px;

    margin:0;
}
.section0__title2{
    font-family:'Montserrat', sans-serif;
    font-size: 150px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    margin-top: 15px;
    max-width: 802px;
    text-align: center;
}
.section0__button{
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    border: 3px solid #fff;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    width: 161px;
    margin: auto;
}
.section0__button-centering{
    margin-top: 123px;
    padding-bottom: 231px;
}
.section{
    width: 100%;
    max-width: 1193px;
    margin: 0 auto;
    box-sizing: border-box;

}
.section__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333333;
}
.section__title2{
    font-family:'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    color: #333333;
    margin-top: 15px;
}
.section__title2::after {
    content: '';
    display:flex;
    flex-direction: column;
    width: 61px;
    height: 4px;
    margin: 30px auto 0;
    background-color: #F38181;
}
.figure{
    background-color:transparent;
    width: 40px;
    height: 40px;
    padding-right: 20px;
}
.img__icon{
    margin: 0;
}
.services__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
}
.services__item{
    position: relative;
    width: 330px;
    padding-left: 60px;
    margin-bottom: 50px;
}
.services__icon{
    position: absolute;
    top: 15px;
    left: 15px;
    display: inline-block;
    content: '';
    width: 40px;
    height: 40px;
}
.services__icon__title{
    margin-bottom: 10px;
    color: #333333;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}
.services__icon__text{
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
p{
    margin: 0;
}
.section2_title-text{
    color: #999999;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: 945px;
    display: inline-block;
    padding-left: 100px;
    margin: 0 auto;
}
.team__list{
    display: flex;
    justify-content: space-evenly;
    padding-top: 22px;
    margin-bottom: 60px;
}
.team__item{
    width: 333px;
}
.team__container{
    position: relative;
    box-shadow: 0 0 #95E1D3;
    transition: all 200ms linear;
    margin-bottom: 15px;
}
.team__item:hover .team__container{
    transform: translate(-10px,-10px);
    box-shadow: 10px 10px #95E1D3;
}
.team__container--img{
    display: block;
    width: 333px;
}
.team__container--card{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 200ms linear;
}
.team__container--card:hover{
    background: linear-gradient(45deg, rgba(221, 224, 10, 0.8), rgba(221, 6, 24, 0.5));
    background-size: cover;
}
.team__item:hover .team__container--card{
    opacity: 1;
}
.team__card--list{
    display: flex;
}
.team__card--item {
    position: relative;
    width: 57px;
    height: 57px;
    background-color: #FCE38A;
    margin-right: 1px;
    transition: all 200ms linear;
    cursor: pointer;
}
.team__card--item:last-child{
    margin-right: 0;
}
.team__card--item:hover{
    background-color: #F38181;
}
.team__card--link{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.team__card--icon{
    fill: #F38181;
}
.team__card--item:hover .team__card--icon {
    fill: #fff;
}
.item__name{
    font-family:'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.item__job{
    font-family:'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #999999;
    font-style: oblique;
}
.last__word{
    color: #F38181;
}
.footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E5E5E5;
    width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
}
.footer__text{
    display: flex;
    align-items: center;
    vertical-align: middle;
    color: #333333;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
.forms{
    margin-left: 0 auto;
    padding-bottom: 5px;
}
.placeholder{
    height: 35px;
    color: #CCCCCC;
    font-size: 14px;
    font-family:'Roboto', sans-serif;
    font-style: oblique;
}
.submit{
    width: 150px;
    height: 41px;
    border: none;
    background-color:#95E1D3; ;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family:  'Montserrat', sans-serif;
}
